@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@500&family=Cormorant+Garamond:ital@1&family=PT+Serif&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: Assistant;
   
    
}